<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>My Tasks</title>
    <style>
        .v-label{
            right: auto !important;
        }
        .theme--dark.v-btn.v-btn--disabled.v-btn--has-bg{
            background-color: #f5f5f5 !important;
        }
    </style>
</head>
<body>
    <div id="app" style="min-height: 100vh;">
        <v-container style="padding-top: 50px;">
            <v-form style="margin-bottom: 40px;">
                <v-row>
                    <v-col cols="12" sm="6">
                        <v-text-field
                            label="Descrição"
                            outlined
                            v-model="description"
                        />
                    </v-col>

                    <v-col cols="12" sm="3">
                        <v-btn
                            x-large
                            block
                            style="background-color: #1867c0; color: white; font-weight: bold;"
                            @click="addTask"
                            :disabled="!description"
                        >
                            Adicionar
                        </v-btn>
                    </v-col>

                    <v-col cols="12" sm="3">
                        <v-btn
                            x-large
                            block
                            outlined
                            @click="clear"
                        >
                            Limpar
                        </v-btn>
                    </v-col>
                </v-row>
            </v-form>

            <v-divider></v-divider>

            <v-simple-table
                fixed-header
                style="margin-top: 40px;"
            >
                <template v-slot:default>
                    <thead>
                        <tr>
                            <th style="text-align: left; font-size: 16px;">
                                ID
                            </th>
                            <th style="text-align: left; font-size: 16px;">
                                Descrição
                            </th>
                            <th style="text-align: left; font-size: 16px;">
                                Status
                            </th>
                            <th style="text-align: left; font-size: 16px;">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="item in tasks"
                            :key="item.id"
                        >
                            <td>{{ item.id }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.status }}</td>
                            <td style="text-align: center;">
                                <v-btn
                                    rounded
                                    small
                                    :dark="item.status !== 'FINALIZADO'"
                                    @click="finish(item.id)"
                                    :disabled="item.status === 'FINALIZADO'"
                                    color="#4caf50"
                                >
                                    Finalizar
                                </v-btn>

                                <v-btn
                                    elevation="1"
                                    rounded
                                    small
                                    color="#ff5252"
                                    :dark="item.status !== 'FINALIZADO'"
                                    @click="cancel(item.id)"
                                    :disabled="item.status === 'FINALIZADO'"
                                >
                                    Cancelar
                                </v-btn>
                            </td>
                        </tr>
                    </tbody>
                </template>
            </v-simple-table>
        </v-container>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: () => ({
                tasks: [],
                description: '',
                url: 'https://full-stack-api-uncisal.herokuapp.com'
            }),
            methods: {
                loadTasks() {
                    fetch(this.url+'/tasks')
                        .then(response => response.json())
                        .then(data => this.tasks = data.data)
                },

                addTask() {
                    fetch(this.url+'/task', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ description: this.description })
                    })
                        .then(() => {
                            this.description = ''

                            this.loadTasks()
                        })
                },

                finish(id) {
                    fetch(`${this.url}/task/${id}`, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ status: 'FINALIZADO' })
                    })
                        .then(() => {
                            this.description = ''
    
                            this.loadTasks()
                        })
                },
                
                cancel(id) {
                    fetch(`${this.url}/task/${id}`, { method: 'DELETE' })
                        .then(() => {
                            this.description = ''
    
                            this.loadTasks()
                        })
                },

                clear() {
                    fetch(`${this.url}/tasks`, { method: 'DELETE' })
                        .then(() => {
                            this.description = ''
    
                            this.loadTasks()
                        })
                }
            },
            mounted () {    
                this.loadTasks()
            },
        })
    </script>
</body>
</html>